---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header44.astro";
import Splash from "~/components/splash44.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - Riesgos Laborales</title>
  </head>
  <body>
    <Header />
    <Splash />
<main class="container">

        <section class="card">
            <h2>Prevención De Riesgos Laborales</h2>
            <p>En <strong>TickTap Games</strong> trabajaremos en una oficina alquilada de co-working equipada con material de última generación y mobiliario ergonómico que pueda ayudar a la mayor comodidad y bienestar de nuestros empleados.</p>
            <p>Revisado el decreto 39/1997, nuestra actividad no ofrece ninguna peligrosidad añadida, que pueda provocar un mayor riesgo, por lo que tomaran medidas en relación al nivel de riesgo que pueda tener una oficina de estas características.</p>

            
            <p>Debido a que seremos 4 empleados, no tendremos que aplicar normas mas estrictas que se aplican a empresas con un volumen de empleados más grandes.</p>
            <p>Identificaremos los posibles peligros que pueda haber en una oficina, tales como:</p>
            
            <table class="table-conte">
              <tr><td>Riesgos ergonómicos (por malas posturas), que solucionaremos con las mejores sillas del mercado para comodidad en una oficina, mesas a un nivel adecuado, monitores a buena altura, etc…</td></tr>
              <tr><td>Problemas de fatiga: Se permitirá breves descanso. En los que se podrá tomar agua, coger un café, ir al baño, etc… Así, reduciendo el estrés, cansancio ocular, y fatiga mental.</td></tr>
              <tr><td>Estrés laboral: se tendrá contacto con el empleado y un trato cercano para evitar saturación mental. Ayudando en plazos de entrega que puedan ser muy estrictos, problemas que puedan surgir, etc…</td></tr>
              <tr><td>Problemas sociales: La gran cantidad de horas de trabajo y los pocos trabajadores que hay puede producir problemas. Por lo que se fomentara reuniones, salidas, etc.. Esto principalmente por que somos 4 socios, que nos conocemos y podría ser una buena descarga del trabajo este tipo de actos.</td></tr>
            </table>

            <p>A pesar de esto, obligaremos a nuestros empleados a tomar cursos de prevención de riesgos relacionados con los que se pueda tener en una oficina con dispositivos informáticos. Así prevendríamos riesgos laborales y tendríamos mejor formados y mas concienciados a nuestros empleados. Estos cursos se irán actualizando a medida que pase cierto tiempo (1 año) con cursos cortos para recordar estos peligros, e introduciendo nuevos contenidos de prevención por cambios que se pueda sufrir en la oficina.</p>
            <p>Llevaremos un control de estos cursos y de las medidas que hemos tomado, para que no se salten y no surjan problemas ni accidentes laborales.</p>

        </section>

    </main>
    <Footer />
  </body>
</html>