---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header33.astro";
import Splash from "~/components/splash33.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - A</title>
  </head>
  <body>
    <Header />
    <Splash />
<main class="container">
      <section class="card">
        <h2></h2>
        <p class="summary"></p>
        <p></p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
      </section>

      <section class="card">
        <h2></h2>
        <p class="summary"></p>
            <table class="table-conte">
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
            </table>
        </section>

        <section class="card">
            <h2></h2>
            <p class="summary"></p>
                <table class="table-conte">
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </table>
        </section>

        <section class="card">
            <h2></h2>
            <p><strong></strong></p>
            <p></p>
            <p></strong></p>
            
            <p><strong></strong></p>
            <p></p>
            <p></strong></p>
            
            <p><strong></strong></p>
            <p></p>
            <p><strong></strong></p>
            <p></p>
            <p></p>
        </section>

    </main>
    <Footer />
  </body>
</html>