---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header4.astro";
import Splash from "~/components/splash4.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - Tipo de Empresa</title>
  </head>
  <body>
    <Header />
    <Splash />
    <main class="container">

      <section class="card">
        <h2>Introducción</h2>
        <div class="summary">
          <p>
            En este apartado detallaremos el tipo de empresa que queremos ser con <strong>TickTap Games S.L</strong>, una empresa emergente dedicada al desarrollo de juegos para relojes inteligentes.
          </p><br/>
          <h3>Forma Jurídica</h3>
          <p>
            La forma jurídica que adoptaremos con la empresa será una <strong>Sociedad de Responsabilidad Limitada (S.L.)</strong>, lo que nos definirá como grupo y limita nuestras responsabilidades como personas independientes.
          </p><br/>
          <h3>Roles de los Socios Fundadores</h3>
          <p>
            Nuestros roles dentro de la empresa básicamente para los 4 es desarrollar software pero aparte de eso cada uno se tendrá que encargar de una tarea extra en concreto en los primeros meses del desarrollo.
          </p>
          <ul>
            <li>Desarrollo Software Jefe - Rachid Atighza</li>
            <li>Marketing y Publicidad - Roberto Mercado</li>
            <li>Finanzas y Gestiones - William Marin (CEO)</li>
            <li>Diseño gráfico de los juegos - Erick Pineda</li>
          </ul><br/>
          <h3>Análisis del Entorno</h3>
          <p>
            Analizamos el <strong>microentorno</strong> y el <strong>macroentorno</strong> de la empresa, destacando factores importantes como:
          </p>
          <ul>
            <li>Crecimiento del mercado de juegos móviles y gratuitos</li>
            <li>Avances tecnológicos de Relojes Inteligentes</li>
            <li>Tendencias sociales a estímulos rápidos y cortos</li>
          </ul><br/>
          <p>Desarrollaremos las diferentes situaciones que están fuera de nuestra empresa y que influyen directa o indirectamente en nuestras actividades.</p>
        </div>
      </section>
          <section class="card">

          <h2>Imagen Corporativa</h2>
          <div class="summary">
          <p>
            Con esto trataremos de dar la mejor impresión a lo usuarios y que tengan una buena percepción de nuestra empresa.
          </p>
          <ul>
            <li><strong>Nombre de la empresa:</strong> TickTap Games</li>
            <p>Nuestro nombre viene de una lluvia de ideas en la que colaboramos los 4 integrantes de esta empresa. Significa, “Tick” representando al sonido característico de un reloj clásico "Tik tak, tik tak". Y el tak sustituido por un “Tap”, que es como se denomina a tocar un pantalla, relacionando así a juegos táctiles.</p></br>
            <li><strong>Logotipo:</strong> Mando clásico dentro de un reloj.</li>
            <p>Con un diseño circular que muestra un reloj, dentro del el se muestra un mando de videojuegos retro. Esto muestra, primero los dispositivos en los que trabajaremos, y segundo, el estilo de juegos retros y sencillos que desarrollaremos. Con esto mostramos rápidamente nuestro objetivo de empresa.</p></br>
            <li><strong>Nuestros Valores:</strong> Innovación en un mercado inexplorado, creatividad y accesibilidad</li>
            <p>Nuestros desarrollos estarán pensados para aprovechar todo lo posible las características de los relojes, pudiendo así ofrecer las mejores experiencias a los clientes. Ofreceremos experiencias que aun no se ofrecen en este nuevo mercado y aprenderemos más sobre código y el funcionamiento óptimo de los desarrollos en estos nuevos dispositivos.</p></br>
            <li><strong>Eslogan:</strong> "Entretenimiento al alcance de tu mano"</li>
            <p>Con esta frase mostramos de forma clara nuestra filosofía empresarial y el objetivo, algo rápido y con gancho.</p></br>
            <li><strong>Objetivo:</strong> Los juegos están pensados para que los clientes disfruten de una experiencia sencilla y rápida, que se pueda aprovechar en tiempos libres cortos y no necesiten mucho tiempo para su disfrute. Con una orientación clásica y retro, combinadas con ideas innovadoras y frescas para nuestra actualidad.</li>
            <p>Intentaremos crear juegos que sean muy accesibles, que sean fáciles de entender y jugar, con buenos precios y opciones de micro pagos para llegar al máximo público.</p>
          </ul></br>
  
        </div>
      </section>

      <section class="card">
          <h2>Compromiso con la Responsabilidad Social Corporativa</h2>
          <div class="summary">
          <p>
            El compromiso de nuestra empresa <strong>TickTap Games</strong> con la <strong>responsabilidad social corporativa</strong>.
          </p>
          <ul>
            <li>Enfoque en el bienestar digital</li>
            <p>TickTap games se compromete a diseñas juegos que fomenten el entretenimiento responsable. Fomentaremos un uso equilibrado de nuestros juegos, implementando notificaciones que cada cierto tiempo avisarán al usuario para que se tome un descanso y tenga un uso equilibrado.</p>
            <p>Ofrecemos un servicio diseñado para ser disfrutados en intervalos cortos, para que no interfieran en actividades diarias importantes como el trabajo, estudio o relaciones sociales.</p></br>
            <li>Sostenibilidad en el desarrollo de productos</li>
            <p>Nos enfocaremos también en minimizar el consumo de energía y los recursos de los dispositivos al máximo. Esto provocará que se tenga que cargar menos veces el dispositivo, lo que reducirá la huella de carbono, y podrá el dispositivo ser usado por mas tiempo.</p></br>
            <li>Accesibilidad para una amplia variedad de usuarios</li>
            <p>La entrada a nuestros juegos será gratuita, lo que tendrá disponibilidad para todos los usuarios que quieran, sin barreras económicas.</p>
            <p>Introduciremos características que contemplen a personas con discapacidades visuales, con opciones de alto contraste y controles personalizados. Para que puedan ser disfrutados por el mayor número de personas.</p></br>
          </ul>

        <p><strong>Impacto Social</strong></p>
        <p>Colaboraremos lo máximo posible con desarrolladores, diseñadores y expertos de nuestra zona para fortalecer el trabajo tecnológico regional. Esto ayudará a fomentar el empleo en este sector en el local de nuestra futura sede.</p>
        <p>Implementaremos programas que apoyarán el desarrollo de jóvenes que quieran trabajar en el sector tecnológico. Esto promoverá la innovación en esta industria y ayudará a desarrollar habilidades técnicas.</p>
        </div>
      </section>
      
      <section class="card">
        <ol>
            <h2>Microentorno</h2>
            <ol>
              <li>
                <strong>Clientes Potenciales:</strong>
                <ul>
                  <li>
                    <strong>Usuarios de relojes inteligentes</strong>: Debido al aumento de popularidad de este producto debido a sus avances tecnológicos y sus diferentes funciones que han atraído a mas clientes, muchas personas buscarán también un momento de diversión rápida en este dispositivo. Por lo tanto, su popularidad, avance tecnológico (lo que nos ayudará también a poder crear juegos con mejor potencia general ) e innovación nos ayudara a expandir más nuestro mercado.
                  </li>
                  <li>
                    <strong>Adultos y jóvenes:</strong> Así como en los videojuegos y el coleccionismo, nuestro público objetivo serán esos adultos y jóvenes que suelen tender a usar productos tecnológicos para entretenerse. Como nuestros juegos serán desarrollados para entregar unos juegos simples y rápidos, para los adultos será excelente, por que podrán jugar en sus pequeños tiempos libres.
                  </li>
                  <p>También es importante la realidad social que vivimos. El aumento de contenido de redes sociales con contenido rápido, como las historias en las redes (que suelen durar pocos segundos), con estímulos rápidos, contenido sencillo, etc… Nos ayudará a que nuestro producto, que como indicamos, es rápido y sencillo, encaje mejor en esta realidad social y podamos aumentar nuestras posibilidades de recibir más clientes.</p> <br/>
                  <li>
                    <strong>Usuarios de redes sociales:</strong> Las personas que consumen contenido en plataformas como TikTok e Instagram están acostumbradas a experiencias cortas e impactantes.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Proveedores:</strong>
                <ul>
                  <li>
                    <strong>Plataformas de distribución (Google Play, Apple App Store):</strong> Lo primero será la distribución de estos juegos en las diferentes “stores” de juegos que hay en los diferentes sistemas que puede tener un reloj inteligente. Estas tiendas virtuales serán vitales para poder distribuir nuestros juegos a los clientes, sobretodo por que son los principales sistemas que tienen los relojes inteligentes.
                  </li>
                  <li>
                    <strong>Herramientas de desarrollo de software:</strong> En cuanto a las herramientas de desarrollo, será importante para nosotros llegar a un acuerdo con motores gráficos que nos ayuden al desarrollo de los juegos. En este sentido, herramientas como Unity y Flutter son las mejores opciones para nuestros juegos. Estos motores nos ofrecen una buena optimización para estos dispositivos.
                  </li>
                  <li>
                    <strong>Servicios de almacenamiento en la nube:</strong> Proveedores como Google Cloud y Firebase van a ser una parte fundamental para almacenar las puntuaciones de los usuarios, estadísticas de juego y gestionar toda la estructura de backend de forma segura y escalable más adelante.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Relación con socios estratégicos:</strong>
                <ul>
                  <li>
                    <strong>Colaboración con influencers tecnológicos:</strong> Será importante para nosotros la publicidad y las relaciones de colaboración que podamos conseguir con youtubers, streamers e influencers para llegar de manera más fácil a ese público objetivo que tenemos y el que suele ser el de ellos también.  
                  </li>
                  <li>
                    <strong>Plataformas de crowdfunding:</strong> Esto será muy importante, la ayuda económica para los desarrollos que presentaremos pueden ser atractivos para algunas personas que podrían ayudarnos económicamente para sacar adelante ese proyecto. También en estas plataformas, se tiene un contacto más cercano con los clientes y podemos recibir feedback para mejor y cambiar ciertas cosas que encajen mejor con ellos. Esto nos daría un impulso más para poder desarrollar un producto con mejores prestaciones.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
      
            <h2>Macroentorno</h2>
            <ol>
              <li>
                <strong>Factores Económicos:</strong>
                <ul>
                  <li>
                    <strong>Crecimiento del mercado de juegos móviles:</strong> El enorme aumento de popularidad que últimamente ha ido en ascenso en cuanto al mercado de juegos 'portables' nos será de gran ayuda para aumentar exponencialmente el mercado.
                  </li>
                  <li>
                    <strong>Adopción de dispositivos wearables:</strong> Es creciente la necesidad de usuarios que quieren unos relojes más completos, con más funciones, que cubran diferentes funciones en su día a día, y el entretenimiento es una de ellas. Tambien la tendencia de unos relojes inteligentes más baratos y accesibles, ayudan a tener un target mas amplio, pudiendo llegar a usuarios de diferente estatus económico.
                  </li>
                  <li>
                    <strong>Preferencia por micropagos:</strong> A día de hoy los juegos que más facturan en el mundo <strong>SON GRATIS</strong>. Los micropagos dentro de juegos gratis son la forma más popular actualmente de generar ingresos y nuestros juegos incluirán ese sistema de micro pagos dentro del juego. Actualmente nos ayudara a que los clientes, ya acostumbrados, estén mas dispuestos a pagar por los diferentes añadidos de pago que introduciremos.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Factores Tecnológicos:</strong>
                <ul>
                  <li>
                    <strong>Avances en tecnología de relojes inteligentes:</strong> El avance hardware de los relojes inteligentes, con mayor resolución, unos procesadores más rápidos y más optimización, nos ayudará a aumentar nuestras posibilidades de crear juegos con mayor potencia y mejor diseñados, lo que atraerá más usuarios.
                  </li>
                  <li>
                    <strong>Disponibilidad de herramientas de desarrollo:</strong> Herramientas modernas como Unity, Flutter y frameworks de desarrollo específicos para wearables nos permiten crear juegos de alta calidad y que funcionan en mucha diversidad de dispositivos.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Factores Sociales:</strong>
                <ul>
                  <li>
                    <strong>Uso de relojes inteligentes como parte del estilo de vida:</strong> Los relojes inteligentes se han convertido en algo más que un accesorio tecnológico; son una parte del estilo de vida moderno. Los usuarios buscan que sus relojes les proporcionen algo más que funciones básicas, como contar pasos o notificaciones, y desean experiencias entretenidas y de valor agregado.
                  </li>
                </ul>
              </li>
              <li>
                <strong>Factores Legales:</strong>
                <ul>
                  <li>
                    <strong>Privacidad de datos (GDPR):</strong> Obligatorio cumplir con las normas de privacidad y normas impuestas para ofrecer un servicio que no pueda dar problemas a los usuarios, ni nos genere inconvenientes legales que puedan tanto perjudicarnos internamente (con sanciones económicas) como externas ( mala visión para los clientes).
                  </li>
                  <li>
                    <strong>Gestión de derechos de autor:</strong> Es importante proteger el contenido desarrollado mediante derechos de autor (copy right) y las licencias adecuadas. Asegurando nuestra propiedad intelectual de los juegos y posibles herramientras que desarrollemos.
                  </li>
                </ul>
              </li>
            </ol>
          </li>
        </ol>
      </section>

      <section class="card">
        <h2>Forma Jurídica</h2>
        
        <ol>
          <li><strong>Motivación de la Elección de la S.L.</strong></li>
        </ol>
      
        <p>
          En cuando al planteamiento inicial, no lo teníamos muy claro y tuvimos que hacer diferentes comparativas de las formas jurídicas para encontrar la que mejor encajara con nuestras aspiraciones. Diferentes características de algunas formas jurídicas nos hicieron descartarlas rápidamente debido a que no las podíamos asumir o no encontramos en ellas una ayuda para nuestro objetivo. 
A pesar de esto hemos sopesado otras ideas de forma Jurídicas, pero hemos encontrado más conveniente en la S.L
        </p>
        <p>
          En cuanto a la sociedad anónima, tuvo que ser descartada debido a su alto capital social mínimo (60.000 €) que no era asumible para nosotros. Que nos beneficiaba en gran medida los 3000€ mínimos de la S.L.
        </p>

        <p>El consejo de administración por su parte necesita estructuras complejas, cosa en la que no queremos invertir tiempo ni encontrar en ella problemas, optando nosotros por invertir el máximo tiempo necesario en nuestros proyectos.</p>

        <p>De las ventajas mas importantes fue encontrar en esta un límite de responsabilidad, que no afectara a nuestro patrimonio si algo salía mal, lo que nos da confianza y seguridad.</p>

        <p>Esta sociedad también nos otorga la posibilidad de acordad entre los socios diferentes formas de llevar la gestión de esta empresa. Así como elegir la repartición de beneficios, los votos, acuerdos internos, etc…</p>

        <p><strong>Desventajas:</strong></p>

        <p>El hecho de ser Limitada, en comparación con la anónima, será algo más difícil recibir préstamos que nos puedan impulsar debido a que se entiende que si no fallamos, podríamos no pagar esa deuda, por que respondemos solo con lo aportado como socios. Por lo que estas “prestamistas” (bancos, por ejemplo) no estarían tan dispuestas a ello.</p>

        <p>En este sentido, podríamos buscar inversiones privadas si se llega a necesitar ayuda económica. También negociar diferentes formas si se llega a dar el caso de fallo en los pagos.</p>

        <p>También puede ser una desventaja el menor control individual que haya por parte de socios, porque cada acción relevante que quieran tomar, tendrán que tomarla equitativamente con los otros socios.</p>

        <p>Requerimos escritura pública ante notario, inscripción en el registro Mercantil y más tramites, lo que es más costoso que, por ejemplo, darse de alta como autónomo o formar una comunidad de bienes. </p>

        <p>En este sentido, contrataremos un asesor fiscal para que nos ayude a cumplir obligaciones legales.
          </p> <br/>
        


          <p>Como resumen, estos son los 3 puntos clave que nos impulsaron a elegir la <strong>Sociedad de Responsabilidad Limitada (S.L.)</strong></p>

      
        <ol>
          <li>
            <strong>Protección de los Socios:</strong>
            <ul>
              <li>
                La S.L limita la responsabilidad que cada socio tiene en esa empresa, limitando sus obligaciones al capital aportado, lo que protege todo su patrimonio ante cualquier problema que pudiera suceder en la empresa. Esto ofrece una seguridad importante para todos lo socios que formen parte de nuestra empresa.
              </li>
            </ul>
          </li>
          <li>
            <strong>Adecuación para Empresas Tecnológicas Pequeñas:</strong>
            <ul>
              <li>
                Esta forma jurídica nos ofrece una estructura mucho más flexible, en comparación a otras como la sociedad anónima. Nos exige menos requisitos legales y administrativos, los que nos ayuda a enfocarnos más en el desarrollo del negocio que en gestiones de burocracia.
              </li>
            </ul>
          </li>
          <li>
            <strong>Requisitos de Capital:</strong>
            <ul>
              <li>
                Iniciamos con un capital bajo, de 20.000€, lo que es asumible para nuestros 4 socios que pondremos 5.000€ de nuestros ahorros cada uno. Esto nos permite tener una base por que la se pueda iniciar y hacer las primeras inversiones. También nos ayuda a invertir mas en proyectos de desarrollo e innovación.
              </li>
            </ul>
          </li>
        </ol>

        <p>Podemos decir que la S.L nos ofrece simplicidad, flexibilidad y eficiencia. Dando seguridad a socios, facilitando temas burocráticos y ofreciendo una gestión más simple ya que es nuestra primera experiencia como empresa.</p> <br/>
      
      <h2>Órganos de Gobierno</h2>
      <ol>
        <li>
          <strong>Junta General de Socios</strong>
        <ul>
            <li>
              En la S.L es obligatorio la Junta Genera de Socios. Entre los 4 socios decidimos los estatutos.
            </li>
            <li>
              Optaremos por una mayoría siempre para las decisiones ordinarias.
            </li>
            <li>En cuanto a temas más importantes (como modificar estatutos) se aprobarán aquellos que superen 2/3 de los votos.</li>
          </li>
          </ul>
            <li>
              <strong>Administradores Mancomunados</strong>
            <ul>
                <li>Hemos decidido que queremos tomar decisiones de manera conjunta y asegurar que tengamos un control colectivo.</li>
              </ul>

                <li>
                  <strong>Fiscalidad</strong>
                  <p>Tendremos diferentes impuestos que pagar en relación con nuestra forma jurídica, estos son los que tendremos que abonar</p>
                <ul>
                    <li>Tendremos que abonar un impuesto que grava los beneficios obtenidos en un ejercicio fiscal.</li>
                    <li>Base imponible: Los beneficios netos de la empresa.</li>
                    <li>Tipos de gravamen, que el tipo general es del 25%, pero los primeros años, por ser nueva empresa, sería de 15% de los beneficios que obtengamos.</li>
                    <li>Además del impuesto IVA que aplicaremos a nuestros productos.</li>
                    <li>Impuestos locales, aplicados por la zona en la que ejerzamos.</li>
                  </ul>
                  </li>

                  <li>
                    <strong>Calendario Fiscal</strong>
                    <p>Como S.L que es nuestra empresa, y con sede en España, nos ajustamos a las fechas y plazos establecidos por la Agencia Tributaria. El año fiscal es del 1 de enero a 31 de diciembre, por lo que este será nuestro ejercicio fiscal.</p>
                    <p>Tendremos que hacer varias declaraciones trimestrales a lo largo del año. Estos son:</p>
                    <ul>
                      <li>1er trimestre (Enero-Marzo)</li>
                      <li>2do trimestre (Abril-Junio)</li>
                      <li>3er trimestre (Julio-Septiembre)</li>
                      <li>4to trimestre (Octubre-Diciembre)</li>
                    </ul>
                    </li>
                    </ol>
      
      
      </section>

    </main>
    <Footer />
  </body>
</html>
