---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header3.astro";
import Splash from "~/components/splash3.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - DAFO</title>
  </head>
  <body>
    <Header />
    <Splash />
<main class="container">
      <section class="card">
        <h2>DAFO</h2>
        <p class="summary">Estamos analizando tanto lo bueno como lo malo, desde dentro (lo que nos hace fuertes
            y lo que nos debilita) hasta lo que pasa fuera (oportunidades y riesgos), que pueden
            afectar cómo le va a nuestra idea y cómo mejorar para el futuro.</p><br>
        <p>Buscamos</p>
            <ul>
                <li>Destacar lo qué nos hace fuertes como equipo y nos da una ventaja frente a
                    otros.
                    </li>
                <li>Identificar los riesgos, tanto de nuestra parte como los externos, que podrían
                    ponernos las cosas difíciles.
                    </li>
                <li>Aprovechar todo lo bueno que surja en el mercado o con las tendencias.</li>
                <li>Hacer un plan claro que nos ayude a tomar decisiones acertadas.</li>
            </ul>
      </section>

      <section class="card">
        <h2>Debilidades</h2>
        <p class="summary"> Hemos detectado algunos puntos flojos tanto en nuestro equipo como en los recursos y
            el proyecto:</p>
            <table class="table-conte">
                <tr><td>Falta de experiencia: Si no tenemos experiencia previa desarrollando software o videojuegos, el inicio
                    puede ser complicado. El resultado puede ser una disminución en la velocidad y un problema potencial con la calidad y los plazos de lanzamiento
                    Los relojes inteligentes pueden ser supermodernos, aún tienen limitaciones técnicas.</td></tr>
                <tr><td>Limitaciones técnicas: Aunque los relojes inteligentes son súper modernos, todavía tienen sus limitaciones. A
                    veces, estas restricciones pueden cortar un poco la creatividad o afectar cómo
                    funcionan los juegos.</td></tr>
                <tr><td>Recursos financieros limitados: No somos una empresa gigante, y eso puede afectar a qué tan rápido avanzamos o
                    qué tanto podemos invertir. Competir con empresas grandes podría ser complicado.</td></tr>
                <tr><td>Distribución y marketing: Hacer un buen juego no es suficiente si nadie lo conoce. Si no logramos llegar a
                    nuestro público ideal, nuestras posibilidades de éxito se reducen mucho.</td></tr>
                <tr><td>Interfaz de usuario limitada: Los relojes inteligentes se controlan con gestos táctiles y, a veces, por voz. No tener
                    botones o controles más específicos puede complicar el diseño de juegos intuitivos.</td></tr>
                <tr><td>Audiencia limitada: Aunque los relojes inteligentes están en auge, no todo el mundo
                    los ve como dispositivos para jugar. Esto significa que nuestro público objetivo puede
                    ser más reducido que el de otros dispositivos.</td></tr>
            </table>
        </section>

        <section class="card">
            <h2>Amenazas</h2>
            <p class="summary"> Hemos detectado una serie de Amenazas entorno a la evolución correcta que esperamos de este proyecto.</p>
                <table class="table-conte">
                    <tr><td>Crecimiento de la competencia: , pero si las corporaciones significativas están dispuestas a invertir, el medio ambiente podría ser más competitivo.</td></tr>
                    <tr><td>Evolución tecnológica rápida: El rápido avance tecnológico de los relojes inteligentes ha resultado en que se realicen funciones obsoletas, lo que las hace obsoletas en poco tiempo.</td></tr>
                    <tr><td>Preferencias de los usuarios: Los usuarios de Smartwatch no están interesados ​​en jugar, sino que se centran en las características de salud, notificaciones y productividad proporcionadas por sus dispositivos</td></tr>
                    <tr><td>Monetización difícil: Ganar dinero a través de juegos de reloj inteligente es una tarea desafiante. Los modelos
                        tradicionales, como compras dentro de la app o publicidad, pueden no ser tan
                        efectivos aquí.</td></tr>
                    <tr><td>Ciclo de vida corto de los productos: Los juegos casuales suelen perder su atractivo rápido. Esto significa que debemos
                        estar constantemente innovando para mantener a los usuarios interesados.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>Fortalezas</h2>
            <p class="summary"> A pesar de todo, tenemos varias cosas a favor que nos hacen destacar ante la posible competencia:</p>
                <table class="table-conte">
                    <tr><td>Equipo comprometido: Somos un grupo de 4 personas con objetivos claros. Remamos juntos en la misma
                        dirección, y si mantenemos la mente abierta para escuchar ideas, podemos tomar
                        decisiones acertadas y llegar lejos.</td></tr>
                    <tr><td>Propuesta innovadora: Nuestro concepto de juegos cortos y adictivos para relojes inteligentes durante
                        momentos de descanso es algo fresco que podría captar mucho interés.</td></tr>
                    <tr><td>Nicho de mercado específico: El mundo de los videojuegos en relojes inteligentes no está saturado, y enfocarnos en
                        juegos breves puede significar menos competencia directa.</td></tr>
                    <tr><td>Costes de desarrollo relativamente bajos: Hacer juegos para relojes inteligentes no requiere los mismos recursos que
                        desarrollar juegos para consolas o PC. Esto nos da ventaja.</td></tr>
                    <tr><td>Retrocompatibilidad y nostalgia: Podemos usar juegos clásicos que recuerden a los usuarios momentos felices del
                        pasado para captar su interés de forma emocional.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>Oportunidades</h2>
            <p class="summary"> Hemos identificado algunas oportunidades que podríamos aprovechar y que pueden favorecernos el éxito:</p>
                <table class="table-conte">
                    <tr><td>El crecimiento del mercado de relojes inteligentes: Cada vez más personas los tienen, y eso significa que el mercado seguirá creciendo con el tiempo.</td></tr>
                    <tr><td>El aumento de usuarios de juegos casuales:  Mucha gente busca entretenimiento rápido y sencillo. Estimulos casuales que les permitan rellenar sus momentos vacios.</td></tr>
                    <tr><td>Innovación tecnológica: Si incorporamos cosas como inteligencia artificial o cualquier otra tecnología
                        novedosa, podemos ofrecer experiencias únicas que nos hagan destacar.</td></tr>
                    <tr><td>Mejoras en hardware: A medida que los relojes inteligentes evolucionen, sus componentes mejorarán,
                        permitiendo crear juegos más complejos y divertidos.</td></tr>
                    <tr><td>Capacidad de innovación: Todavía hay pocos juegos para estos dispositivos, lo que nos da una gran oportunidad
                        para proponer ideas nuevas y conquistar a los usuarios.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>DAFO Cruzado</h2>
            <p>Después de analizar el DAFO de nuestro proyecto, pasamos al siguiente paso: crear un
                DAFO cruzado. Esto nos ayuda a encontrar soluciones prácticas a los problemas que
                podrían aparecer y a sacarle todo el jugo a nuestras fortalezas.</p>
            <div class="table-conte">
                <table>
                    <tr><th>Estrategia</th><th>Descripción</th></tr>
                    <tr><td>FO (Fortalezas + Oportunidades)</td><td>Nos enfocamos en lo que ya hacemos bien: ser innovadores, trabajar como equipo y
                        dirigirnos a un mercado específico. La idea es usar estas ventajas para aprovechar lo que
                        el mercado nos ofrece. Queremos destacar siendo de los primeros en este nicho y
                        aprovechar tendencias como el boom de los smartwatches y los juegos simples, además
                        de jugar con la nostalgia del gaming retro para enganchar a los usuarios.</td></tr>
                    <tr><td>FA (Fortalezas + Amenazas)</td><td>Aquí la clave es usar nuestras fortalezas para enfrentar las amenazas del mercado, como
                        la competencia y el avance tecnológico. Para esto, nos centramos en ofrecer algo único
                        que se diferencie totalmente de lo que ya existe. Queremos ser tan buenos que entrar a
                        competir con nosotros sea difícil para otros. Esto nos ayudaría a proteger nuestra
                        posición y mantener el proyecto estable en el tiempo.</td></tr>
                    <tr><td>DO (Debilidades + Oportunidades)</td><td>El objetivo es mejorar nuestras áreas débiles aprovechando las oportunidades que el
                        mercado nos da. Por ejemplo, buscamos aliados, mentores y formación para superar la
                        falta de experiencia. Además, vamos a ser rápidos y prácticos: desarrollar juegos simples
                        y bien optimizados que no requieran grandes inversiones para empezar, pero que igual
                        aprovechen el crecimiento del mercado.</td></tr>
                    <tr><td>DA (Debilidades + Amenazas)</td><td>Aquí la idea es reducir el impacto de nuestras debilidades frente a las amenazas
                        externas. Para esto, vamos a formar a nuestro equipo, manejar bien los recursos y usar
                        estrategias de marketing digital económico pero efectivo. También planeamos
                        actualizar constantemente nuestros productos para adaptarnos a los cambios
                        tecnológicos en los relojes inteligentes y así mantenernos al día.</td></tr>
                </table>
            </div>
        </section>

        <section class="card">
            <h2>Posible Competencia</h2>
            <p><strong>Competidores directos e Indirectos:</strong></p>
            <p>Aunque los juegos básicos de móviles no son competencia directa, comparten un
                enfoque parecido: entretener a la gente en esos pequeños ratos libres.</p>
            <p>Ejemplo:</strong> Pockemon TCG Pocket, Brawl Stars, WoW Rumble...</p>
            
            <p><strong>Otro tipo de competidores:</strong></p>
            <p>Además de los juegos móviles, hay otras apps que también podrían quitar nuestra
                atención del público objetivo, como redes sociales y plataformas de entretenimiento.</p>
            <p>Ejemplo:</strong> TikTok, Instagram, SnapChat...</p>
            
            <p><strong>Ventaja competitiva:</strong></p>
            <p>Nuestra ventaja principal es que estamos diseñando juegos específicamente para relojes
                inteligentes.</p>
            <p><strong>¿Qué hace a nuestra propuesta única?</strong></p>
            <p>Es más rápida y práctica: No necesitas sacar el móvil, desbloquearlo, esperar a que
                cargue la app y lidiar con distracciones. Solo miras tu muñeca, abres el juego, ¡y listo!
                </p>
            <p>Ofrecemos micropagos, personalización y simplicidad para que la experiencia sea
                rápida y fácil, sin complicaciones.</p>
        </section>

    </main>
    <Footer />
  </body>
</html>