---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header33.astro";
import Splash from "~/components/splash33.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - Personal</title>
  </head>
  <body>
    <Header />
    <Splash />
<main class="container">
      <section class="card">
        <h2>Proceso de Contratación y Costes de Personal
        </h2>
        <p class="summary">Personal necesario para el proyecto
        </p>
            <ul>
                <li>Los fundadores, que somos <strong>William</strong>, <strong>Erick</strong>, <strong>Rachid</strong> y <strong>Roberto</strong>, tendremos
                    roles clave en el inicio del proyecto, al ser los únicos miembros y que
                    poseemos las habilidades necesarias para llevarlo a cabo.
                    </li>
                <li>Inicialmente no contrataremos personal, ya que nosotros cubriremos
                    todas las áreas fundamentales. Sin embargo, en un futuro nos gustaría
                    contratar personal especializado en marketing, atención al cliente, etc…
                    Una vez que el producto nos lo pueda permitir.
                    </li>
            </ul>
      </section>

      <section class="card">
        <h2>Proceso de selección de personal</h2>
        <p>Cuando se requiera contratar, se realizará un proceso de selección que
            seguirá los pasos siguientes:</p>
        <p><strong>Publicaremos la oferta de trabajo</strong> en aplicaciones/páginas de trabajo
            (LinkedIn Jobs, Glassdoor) y redes relacionadas con nuestro sector.
            También usaremos nuestras propias redes sociales para llegar al máximo
            de personas posibles.
            </p>
        <p>Tras la <strong>primera fase</strong>, revisaremos a detalle todos los CV (conocimientos,
            habilidades, titulaciones…) Ese primer contacto nos permitirá conocer
            quienes cumplen los requisitos mínimos para cada puesto de trabajo, y nos
            enfocaremos en especial a la experiencia laboral.
            </p>
        <p>Los seleccionados pasarán a una <strong>entrevista</strong>, en ella hablaremos de sus
            conocimientos y habilidades en relación con su cargo. Y preguntaremos a
            cada entrevistado, lejos de lo salarial, cuales son sus motivaciones para
            trabajar con nosotros.
            </p>
        <p>Los candidatos serán sometidos a un <strong>examen</strong> relacionado con el puesto
            de trabajo. Esta prueba nos demostrará que sabe desarrollarse bien en
            problemas reales, aplicando lo que sabe a problemas reales.</p>
        
        <p>Los candidatos que <strong>superen todas las etapas</strong> anteriores, participarán en
            una entrevista final. Aquí veremos sus habilidades sociales más
            profundamente, valores, familia, y su disposición con los objetivos de
            nuestra empresa. No queremos que nuestros trabajadores sean simples
            componentes, sino un complemento a nuestra empresa.</p>
    </section>

      <section class="card">
        <h2>Posibles puestos futuros</h2>
        <p class="summary">En vista al crecimiento exponencial que podríamos tener, nosotros los fundadores deberíamos delegar tareas clave para poder enfocarnos en mejorar nuestra estrategia e innovar.</p>
            <table class="table-conte">
                    <tr>
                        <th>Puesto</th>
                        <th>Funciones y Tareas</th>
                        <th>Formación y Experiencia</th>
                    </tr>
                    <tr>
                        <td>2 Desarrolladores de Software</td>
                        <td>Se encargarían de continuar con el código del proyecto, implementando nuevas funciones que le indiquemos y optimizando el rendimiento de la aplicación depurando código.</td>
                        <td>Grado en Ingeniería informática, desarrollo de Software o similar.</br>
                            Experiencia de 2 años mínimo en desarrollo de apps.
                        </td>
                    </tr>
                    <tr>
                        <td>Especialista en Marketing Digital y Crecimiento</td>
                        <td>Debe diseñar estrategias de marketing y encargarse del SEO en redes y emails de marketing.</td>
                        <td>Grado de marketing, Publicidad o Comunicación.</br>
                        Experiencia de 2-3 años en marketing digital sobretodo orientado a tecnología.</td>
                    </tr>
                    <tr>
                        <td>Gestor Administrativo y Financiero</td>
                        <td>Para prescindir del servicio externo contratado, este empleado se encargaría de gestionar la contabilidad y facturación de la empresa. También supervisaría las nóminas y optimizaría los costes y presupuestos.</td>
                        <td>Grado de Administración de empresas, contabilidad o similar.</br>
                        Experiencia de 3 a 5 años en gestión financiera y contable.</td>
                    </tr>
                </table>
        </section>

        <section class="card">
            <h2>Estructura Organizativa</h2>
            <p class="summary">Esta sería la estructura que tendría nuestra empresa en el primer año, sin empleados extra. Hay que tener en cuenta que en primera estancia, todos desarrollaremos código y diseño. Aparte de esa tarea principal realizaremos una tarea secundaria específica cada uno.</p>
            <ul>
                <li>
                    <div>CEO <br>William Marin</div>
                    <ul>
                        <li>
                            <div>Desarrollador Técnico de Software<br>Rachid Atigzha</div>
                        </li>
                        <li>
                            <div>Diseño UX/UI<br> Erick Pineda</div>
                        </li>
                        <li>
                            <div>Marketing y Ventas<br>Roberto Mercado</div>
                        </li>
                    </ul>
                </li>
            </ul>

            <h2>Relaciones entre departamentos</h2>
            <p>En nuestra empresa, intentamos que las relaciones entre departamentos
                se basen en la colaboración activa, la buena comunicación y donde la toma
                de decisiones pueda participar el mayor número de personas, fomentando
                el trabajo en equipo.
                </p>
            
            <p><strong>Toma de decisiones: </strong>Toda la responsabilidad sobre las decisiones que
                realizamos o no realizamos recae finalmente sobre William, quien es el eje
                central. Pero, aunque es verdad que la última decisión es suya, William
                siempre consulta con el equipo para ver las máximas perspectivas
                posibles, y estas sean consideradas. Integrando así nuevas ideas creativas.</p>
            
            <p><strong>Colaboración</strong> El trabajo en equipo entre distintos departamentos es para
                nosotros un pilar muy importante.</p>
            <p>Que departamentos como Marketing, Desarrollo, etc… colaboren juntas,
                es fundamental para un entorno laboral sano y cooperativo, enfocandose
                todos los departamentos en los objetivos generales de la empresa.</p>
            <p>Esto permite afrontar desafíos, problemas y aproveche sus fortalezas de
                cada departamento. En general promovemos una relación fluida entre
                departamentos, donde el equipo y la cooperación son los valores más
                importantes</p>
        </section>

        <section class="card">
            <h2>Plan de Producción</h2>
                <table class="table-conte">
                    <tr><td>1. (1 Semana) Alquilar el espacio de Co-Workin para empezar trabajos y reuniones. Planteamiento de las aplicaciones que vamos a desarrollar, lluvia de ideas, visión a largo plazo. Todo el tema de cómo administraremos la empresa pasada esta estapa.</td></tr>
                    <tr><td>2. (1 Semana) Ya con todas las ideas básicas planteadas, empezaremos un estudio de mercado para orientar correctamente el desarrollo y sobretodo el camino por el que llevaremos la empresa.</td></tr>
                    <tr><td>3. (2 Semanas) Evaluación de recursos y altas. En esta fase vamos a poner en nuestra cartera de empresa toda la inversión inicial para dar el paso. Con el dinero empezaremos a gestionar el alta como Sociedad Limitada y también la busqueda de la empresa que nos llevará todas las gestiones durante estos 6 primeros meses. En esta fase pasaremos de ser 4 socios a TickTap games S.L</td></tr>
                    <tr><td>4. (3 Meses) Una vez terminado el primer mes, es hora de empezar con el desarrollo y que vaya tomando forma todas las ideas que hemos tenido. Como hemos seleccionado 3 aplicaciones que finalmente serán las de lanzamiento, en esta fase llevaremos 1 aplicación por mes a su fase Beta.</td></tr>
                    <tr><td>5. (1 Mes) Depuración del avance. A estas alturas ya tenemos las 3 aplicaciones funcionales pero no terminadas, es hora de empezar con las pruebas. Nuestra idea es que en estos 4 meses ya hemos alcanzado X% del apoyo que buscabamos en Crowdfunding, por lo cual enviaremos un 'apk' de la aplicación en fase Alpha a un número determinado de fundadores seleccionados aleatoriamente entre los donadores del Crowdfunding. </br> La idea es que vamos a tener 1 mes de pruebas sobre la jugabilidad, sonidos, gráficos, depuración de bugs e implementación del feedback recibido por los Beta testers.</td></tr>
                    <tr><td>6. (1 mes) Es el último mes antes del día D. En esta fase esperamos haber implementado correctamente todos los fixes necesarios para tener la versión 1.0 de cada uno de los 3 juegos para el lanzamiento, por lo cual este mes estaremos más orientados en el plan final del lanzamiento que en el desarrollo de la aplicación. Prepararemos el lanzamiento, los acuerdos con los dispositivos para que esté disponible. Realizar los pagos necesarios y entregas de la versión 1.0 para que los juegos salgan al público y cerrar los acuerdos que hubiesemos conseguido con las empresas desarrolladoras de Smartwatches para que vengan con el juego por defecto.</td></tr>
                    <tr><td>7. (1 Día) El Día D. El día más importante del año, 6 meses de esfuerzo. Todos los servidores se pondrán online y será un día completo de control de datos, detección de errores y feedback de la gente. Esperamos que sea un día largo pero feliz.</td></tr>
                    <tr><td>8. (6 meses) Durante los próximos 6 meses del lanzamiento dependemos mucho del éxito de la aplicación para decidir correctamente el camino que vamos a seguir, pero básicamente si alcanzamos los objetivos, seguiríamos desarrollando los nuevos paquetes y juegos futuros.</td></tr>
                </table>
        </section>
    </main>
    <Footer />
  </body>
</html>