---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header3.astro";
import Splash from "~/components/splash3.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---

<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - DAFO</title>
  </head>
  <body>
    <Header />
    <Splash />
<main class="container">
      <section class="card">
        <h2>DAFO</h2>
        <p class="summary">Hemos realizado una evaluación de los Factores Internos (Debilidades y Fortalezas) y de los factores externos (Oportunidades y Amenazas) que pueden afectar al desempeño y estrategias para el correcto desarrollo de esta empresa.</p><br>
        <p>Buscamos</p>
            <ul>
                <li>Identificar las ventajas competitivas que destacan en nuestra empresa.</li>
                <li>Detectar los riesgos tanto internos como externos que nos pueden afectar negativamente.</li>
                <li>Aprovechar las oportunidades que marcan las tendencias y cambios en el mercado.</li>
                <li>Planificar estratégicamente las bases con las que tomaremos mejores decisiones.</li>
            </ul>
      </section>

      <section class="card">
        <h2>Debilidades</h2>
        <p class="summary"> Hemos detectado una serie de Debilidades en nuestro equipo, en el proyecto y en los recursos.</p>
            <table class="table-conte">
                <tr><td>Falta de experiencia: Al no tener experiencia previa en el desarrollo de software o videojuegos, podríamos enfrentar una curva de aprendizaje bastante empinada, lo que podría afectar tanto la calidad como los plazos de entrega del producto.</td></tr>
                <tr><td>Limitaciones técnicas: Aunque los smartwatches son dispositivos avanzados, todavía tienen limitaciones de hardware que pueden limitar la creatividad o la funcionalidad de los juegos.</td></tr>
                <tr><td>Recursos financieros limitados: Puede que no tengamos los recursos suficientes para competir con empresas más grandes que también estén interesadas en el desarrollo para smartwatches.</td></tr>
                <tr><td>Distribución y marketing: La visibilidad y el marketing son clave, y si no tenemos un plan sólido para dar a conocer los juegos, podríamos tener dificultades para llegar al público adecuado.</td></tr>
                <tr><td>Interfaz de usuario limitada: Las opciones de interacción en un reloj inteligente suelen limitarse a gestos táctiles y, en algunos casos, comandos de voz. La falta de botones físicos o controles precisos puede hacer que diseñar juegos intuitivos sea más complicado.</td></tr>
                <tr><td>Audiencia limitada: Aunque los relojes inteligentes están ganando popularidad, no todos los usuarios están interesados en jugar en ellos. Los juegos para smartwatches pueden estar dirigidos a un público bastante específico, que no es tan grande como el de otros dispositivos.</td></tr>
            </table>
        </section>

        <section class="card">
            <h2>Amenazas</h2>
            <p class="summary"> Hemos detectado una serie de Amenazas entorno a la evolución correcta que esperamos de este proyecto.</p>
                <table class="table-conte">
                    <tr><td>Crecimiento de la competencia: Aunque el mercado de juegos para smartwatches todavía es pequeño, la llegada de grandes desarrolladores podría cambiar las cosas en poco tiempo, haciendo que la competencia sea mucho más difícil.</td></tr>
                    <tr><td>Evolución tecnológica rápida: La tecnología de los relojes inteligentes avanza a una velocidad impresionante, lo que quiere decir que los avances actuales podrían quedar obsoletos rápidamente si no se actualizan a las nuevas versiones y plataformas.</td></tr>
                    <tr><td>Preferencias de los usuarios: Muchos usuarios de smartwatches probablemente no estén tan interesados en los juegos; para ellos, lo más importante son las funciones de salud, las notificaciones y las herramientas de productividad que les ofrece el dispositivo.</td></tr>
                    <tr><td>Monetización difícil: Los juegos pequeños en smartwatches pueden tener dificultades para generar ingresos con modelos tradicionales, como las compras dentro de la app o la publicidad, lo que hace que sea complicado conseguir ganancias suficientes.</td></tr>
                    <tr><td>Ciclo de vida corto de los productos: Debido a que los juegos casuales suelen ser de interés pasajero, los usuarios tienden a aburrirse rápido, lo que obliga a los desarrolladores a lanzar nuevos juegos constantemente para mantener su atención.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>Fortalezas</h2>
            <p class="summary"> Estas son las fortalezas que poseemos como equipo, en este ámbito y en el proyecto en comparación con la competencia</p>
                <table class="table-conte">
                    <tr><td>Equipo comprometido: Ya que somos un grupo de 4 personas con el mismo objetivo, remamos en el mismo sentido y trabajos en conjunto y comprometidos. La toma de decisiones buenas siempre que tengamos en cuenta las opiniones de los demás puede llevar al éxito.</td></tr>
                    <tr><td>Propuesta innovadora: Aprovechar los momentos breves de inactividad con juegos adictivos para relojes inteligentes es una idea original que responde a una necesidad del mercado actual.</td></tr>
                    <tr><td>Nicho de mercado específico: El mercado de videojuegos en smartwatches no está saturado y, con el enfoque en juegos de corta duración, puede haber poco o ningún competidor directo en este ámbito.</td></tr>
                    <tr><td>Costes de desarrollo relativamente bajos: En comparación con los videojuegos complejos o para consolas, los juegos para smartwatches requieren menos recursos de desarrollo.</td></tr>
                    <tr><td>Retrocompatibilidad y nostalgia: Usaremos la nostalgia con juegos clásicos para enganchar a los clientes con nuestras ideas.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>Oportunidades</h2>
            <p class="summary"> Estas son las oportunidades que intentaremos capturar en nuestro camino y que pueden favorecer el éxito del proyecto</p>
                <table class="table-conte">
                    <tr><td>El crecimiento del mercado de relojes inteligentes: Los relojes inteligentes se están volviendo cada vez más accesibles y populares, lo que significa que el mercado seguirá expandiéndose.</td></tr>
                    <tr><td>El aumento de usuarios de juegos casuales: Cada vez más personas buscan experiencias simples y rápidas, por lo que estos juegos estarán enfocados en usuarios que quieren distraerse un rato en sus tiempos libres, de manera fácil y sin complicaciones.</td></tr>
                    <tr><td>Innovación tecnológica: La implementación de nuevas tecnologías, como el uso de IA u otros avances, puede hacer que nuestro servicio se destaque y ofrezca algo único.</td></tr>
                    <tr><td>Mejoras en hardware: Los avances en estos relojes, impulsados por su creciente popularidad, les han dado mejores características de hardware, lo que facilita la creación de juegos más completos y permite ofrecer una mejor experiencia al usuario.</td></tr>
                    <tr><td>Capacidad de innovación: Dado que actualmente no hay muchos juegos en estos dispositivos, tenemos una gran oportunidad para innovar y crear experiencias nuevas que atraigan a los usuarios.</td></tr>
                </table>
        </section>

        <section class="card">
            <h2>DAFO Cruzado</h2>
            <p>Una ves analizado el DAFO de nuestro proyecto, elaboramos el DAFO cruzado, para buscar soluciones eficientes a los problemas que podríamos enfrentar y también para aprovechar el máximo posible de nuestros puntos fuertes.</p>
            <div class="table-conte">
                <table>
                    <tr><th>Estrategia</th><th>Descripción</th></tr>
                    <tr><td>FO (Fortalezas + Oportunidades)</td><td>Buscamos aprovechar lo que el equipo ya hace bien (innovación, cohesión, nicho de mercado) para sacar partido de las oportunidades que ofrece el mercado. La estrategia clave es usar la ventaja de ser pioneros y estar alineados con las tendencias emergentes, como el crecimiento de los smartwatches y el microgaming, mientras se capitaliza la nostalgia del gaming retro.</td></tr>
                    <tr><td>FA (Fortalezas + Amenazas)</td><td>Combinamos las fortalezas del proyecto y nuestro equipo, con la necesidad de abordar las amenazas que presenta el mercado, como la intensa competencia y la velocidad de los avances tecnológicos. La intención es, a través de una propuesta innovadora y un producto único que se diferencie claramente de lo que ya existe, establecer una barrera de entrada sólida que dificulte la llegada de nuevos competidores. De esta manera buscamos reducir al máximo el impacto de las amenazas externas, protegiendo al mismo tiempo la posición del proyecto en el mercado y asegurando su sostenibilidad a largo plazo.</td></tr>
                    <tr><td>DO (Debilidades + Oportunidades)</td><td>Detallamos estrategias que buscan mejorar las debilidades del equipo aprovechando las oportunidades del mercado. Aquí nuestro equipo busca alianzas, capacitación y mentores para mitigar la falta de experiencia, mientras que la agilidad de desarrollo nos permitirá lanzar productos simples y optimizados que aprovechen las oportunidades de crecimiento sin necesidad de grandes recursos financieros iniciales.</td></tr>
                    <tr><td>DA (Debilidades + Amenazas)</td><td>Lo principal que vamos a intentar es reducir el impacto de las debilidades frente a las amenazas. La capacitación de nuestro equipo, una gestión eficiente de los recursos, y la creación de una estrategia de marketing digital low-cost son esenciales para mitigar los efectos de la posible competencia y la rápida evolución tecnológica. Además, implementaremos una estrategia de actualización de productos para adaptarnos a los cambios constantes en el hardware de los smartwatches.</td></tr>
                </table>
            </div>
        </section>

        <section class="card">
            <h2>Posible Competencia</h2>
            <p><strong>Competidores directos e Indirectos:</strong></p>
            <p>Otras aplicaciones de juegos básicos para moviles, aunque no son una competencia directa para el mundo de los relojes inteligentes, si que tienen enfoques parecidos en cuanto a aprovechar pequeños tiempos disponibles de la gente.</p>
            <p>Ejemplo:</strong> Pockemon TCG Pocket, Brawl Stars, WoW Rumble...</p>
            
            <p><strong>Otro tipo de competidores:</strong></p>
            <p>No solo los juegos móviles para smartphones, suponen una amenaza de atención a público objetivo. Aplicaciones de entretenimiento multimedia como las redes sociales también abarcan un gran mercado.</p>
            <p>Ejemplo:</strong> TikTok, Instagram, SnapChat...</p>
            
            <p><strong>Ventaja competitiva:</strong></p>
            <p>Adaptación específica para relojes inteligentes.</p>
            <p>Nuestra propuesta de valor única basada en micropagos, personalización y simplicidad. No tener que sacar tu móvil del bolsillo, desbloquear, esperar que cargue la aplicación y otras distracciones que surgen por el camino cuando coges el movil, suponen más tiempo del que sería solo ver tu muñeca y ponerte a jugar.</p>
        </section>

    </main>
    <Footer />
  </body>
</html>