---
import "@fontsource-variable/inter";
import Footer from "~/components/footer.astro";
import Header from "~/components/header2.astro";
import Splash from "~/components/splash2.astro";
import "~/styles/index.css";
import "~/styles/william.css";
---
<!doctype html>
<html lang="es" class="h-full motion-safe:scroll-smooth" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <title>TickTap Games - Proyecto</title>
  </head>
  <body>
    <Header />
    <Splash />
    <main class="container">
      <section class="card">
        <h2>TickTap Games</h2>
        <p class="summary">Nuestra empresa 'TickTap Games' se basa en el desarrollo de videojuegos rápidos y adictivos diseñados para relojes inteligentes. En el mundo actual donde el consumo de contenido breve y estimulante está en auge, como en plataformas de redes sociales (TikTok o Instagram), vemos una oportunidad para explotar esos pequeños intervalos de tiempo libre de las personas. Aprovechamos la tecnología de los relojes inteligentes cada vez más avanzada, y en contaste crecimiento. Carece de aplicaciones realmente lúdicas y entretenidas. Nuestros juegos estarán diseñados para ser de acceso inmediato y muy intuitivos, sin tiempos de carga significativos y con una mecánica sencilla que permita a los usuarios superar sus propios récords y compararlos/compartirlos con amigos, aumentando así el compromiso.</p>
      </section>

      <section class="card">
        <h2>Origen de la idea</h2>
        <p class="summary">Este proyecto surge de la observación de que cada vez más personas llevan relojes inteligentes, pero estos carecen de opciones de entretenimiento sencillas. La inspiración proviene de la demanda de contenido breve y de estímulo rápido, como el de plataformas como TikTok. Esta tendencia ha demostrado que hay un amplio mercado para contenido breve y repetible que ocupe pequeños momentos en el día de las personas.</p>
      </section>

      <section class="card">
        <h2>Viabilidad de la idea</h2>
        <p class="summary">La propuesta es viable porque ofrece una nueva forma de entretenimiento en un dispositivo que no tiene actualmente nada, los relojes inteligentes, lo que nos da una ventaja competitiva en este neuvo mercado con escasa competencia o nula. La monetización que vamos a usar se basará en micropagos, ofreciendo juegos adicionales y mejoras visuales muy baratos, lo que motiva a los jugadores a comprar sin implicar grandes gastos para ellos.</p>
      </section>

      <section class="card">
        <h2>Promotores</h2>
        <div class="grid">
          <div class="promoter">
            <img src="/img/william.webp" alt="Foto de William" class="promoter-photo" />
            <div>
              <h3>William</h3>
              <p><strong>Formación:</strong> Graduado en Desarrollo de Aplicaciones Multiplataforma.</p>
              <p><strong>Experiencia:</strong> Más de dos años de experiencia en programación de aplicaciones móviles.</p>
              <p><strong>Fortalezas:</strong> Habilidades técnicas avanzadas, pensamiento creativo, capacidad de resolver problemas.</p>
            </div>
          </div>
          <div class="promoter">
            <img src="/img/erick.webp" alt="Foto de Erick" class="promoter-photo" />
            <div>
              <h3>Erick</h3>
              <p><strong>Formación:</strong> Ingeniero en Sistemas de Información.</p>
              <p><strong>Experiencia:</strong> Diseño de sistemas y bases de datos.</p>
              <p><strong>Fortalezas:</strong> Análisis estructurado y diseño de software.</p>
            </div>
          </div>
          <div class="promoter">
            <img src="/img/robert.webp" alt="Foto de Robert" class="promoter-photo" />
            <div>
              <h3>Robert</h3>
              <p><strong>Formación:</strong> Experto en Marketing Digital.</p>
              <p><strong>Experiencia:</strong> Promoción de aplicaciones móviles y juegos.</p>
              <p><strong>Fortalezas:</strong> Estrategias en redes sociales y adquisición de usuarios. También técnico superior en aplicaciones multiplataforma.</p>
            </div>
          </div>
          <div class="promoter">
            <img src="/img/rachid.webp" alt="Foto de Rachid" class="promoter-photo" />
            <div>
              <h3>Rachid</h3>
              <p><strong>Formación:</strong> Licenciado en Administración de Empresas y Bootcamp de Desarrollo de Software.</p>
              <p><strong>Experiencia:</strong> Planificación de negocios y finanzas.</p>
              <p><strong>Fortalezas:</strong> Gestión de recursos y previsión financiera. Programador de código avanzado.</p>
            </div>
          </div>
        </div>
      </section>
      

      <section class="card">
        <h2>Objetivos</h2>
        <p><strong>Objetivo Social:</strong> Nuestro objetivo social es fomentar la innovación tecnológica y ofrecer experiencias entretenidas y accesibles para los usuarios de relojes inteligentes, un dispositivo que no para de crecer en cuanto a tecnología y accesibilidad. Queremos transformar tus pequeños momentos del día en oportunidades para disfrutar y relajarse, mejorando el estado de ánimo de las personas en sus largas y pesadas rutinas diarias.</p>
        <p><strong>Objetivos actual del desarrollo (Primeros 6 Meses):</strong></p>
        <ul>
          <li>Presentar la propuesta a potenciales inversores.</li>
          <li>Iniciar el Crowdfunding y establecer las ventajas que tendrán las personas que decidan aportar al proyecto.</li>
          <li>Establecer la distribución jerarquica de tareas entre los 4 integrantes de este proyecto.</li>
        </ul>
        <p><strong>Objetivos a corto plazo (Día D):</strong></p>
        <ul>
          <li>De lanzamiento, presentar tres juegos gratuitos y alcanzar 10,000 descargas en el primer mes.</li>
          <li>Iniciar micropagos de personalización visual y nuevos juegos.</li>
        </ul>
        <p><strong>Objetivos a largo plazo (Año posterior):</strong></p>
        <ul>
          <li>Ser referencia en juegos para relojes inteligentes, aprovechando ser los pioneros en este entorno distanciarnos de posibles competencias que puedan surgir.</li>
          <li>Crear una amplia lista de juegos interactivos y variados con ingresos constantes. Esto podría ayudarnos a establecernos en un mercado inexplorado y con esas mismas ganancias y toda la experiencia adquirida durante el proceso, empezar ya con buen pie a crear otro tipo de aplicaciones que apunten a más tipos de público específico.</li>
        </ul>
      </section>

      <section class="card location">
        <h2>Localización</h2>
        <div class="location-grid">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3035.062167883961!2d-3.674332087192673!3d40.473889652037535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4229516c84bb37%3A0xcba883687c6bb611!2sOne%20Agora!5e0!3m2!1ses!2ses!4v1738089714205!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="details">
                <p><strong>Zona:</strong> Ciudad Lineal.</p>
                <p><strong>Motivo:</strong> Alquilar una oficina para empezar con el proyecto requiere de una inversión bastabte alta, pero contar con un espacio en común entre los 4 para dias específicos en los que necesitemos reunirnos y/o trabajar juntos, hemos optado por una oficina de co-working. En nuestro caso también supone un punto estrategico para conectarnos con el área de oficinas más importantes de Madrid. Cerca de las oficinas de la castellana, donde se establecen líderes empresariales de diversos sectores, pero sobre todo de la informática y el desarrollo. Estos sitios de co-working nos puede conectar con mucha gente del entorno y hacer que mucha gente llegue a nosotros con mucha facilidad.</p>
                <p><strong>Descripción:</strong> Oficina de 16m² compartidos con espacio necesario para trabajo en equipo y reuniones, incluso amueblado. Listo para entrar a trabajar y también con posibilidad de adquirir más espacio aumentando la mensualidad.</p>
            </div>
        </div>
    </section>
    
    </main>
    <Footer />
  </body>
</html>
