---
import CompatibilityList from "~/components/compatibility-list.astro";
import ContentSection from "~/components/content-section.astro";
import type { CompatibilityItem } from "~/types";

const frameworks: Array<CompatibilityItem> = [
  {
    title: "Pong",
    icon: "frameworks/preact",
    url: "#",
  },
  {
    title: "Pro-Pong",
    icon: "frameworks/react",
    url: "#",
  },
  {
    title: "Snake",
    icon: "frameworks/svelte",
    url: "#",
  },
  {
    title: "Jump",
    icon: "frameworks/lit",
    url: "#",
  },
];

const platforms: Array<CompatibilityItem> = [
  {
    title: "Record",
    icon: "platforms/netlify",
    url: "#",
  },
  {
    title: "Shane",
    icon: "platforms/vercel",
    url: "#",
  },
  {
    title: "Final",
    icon: "platforms/render",
    url: "#",
  },
  {
    title: "Diamond",
    icon: "fa-brands:gitlab",
    url: "#",
  },
];
---

<ContentSection title="Juegos" id="compatibility">
  <Fragment slot="lead">
    Estos son algunos de los <span class="text-primary">juegos</span> en los que{" "}
    estamos <span class="text-primary">trabajando</span> arduamente para el 
    lanzamiento <span class="text-primary">oficial</span>.
  </Fragment>
  <CompatibilityList
    items={frameworks}
    title="Terminados"
    url="https://docs.astro.build/core-concepts/framework-components/"
  />
  <CompatibilityList
    items={platforms}
    title="Desarrollo"
    url="https://docs.astro.build/guides/deploy/"
  />
</ContentSection>
