---
import { Icon } from "astro-icon/components";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="TickTap Games" id="intro">
  <img slot="eyebrow" src="/img/icoticktap_white.png" alt="Logo de Ticktap" class="size-32" />
  <Fragment slot="lead">
    Descubre como revolucionamos el 
    <span class="text-primary">entretenimiento</span> en relojes inteligentes con
    <span class="text-primary">juegos</span> rápidos, entretenidos y 
    <span class="text-primary">perfectos</span> para tu día a día.
  </Fragment>
  <div class="flex justify-center">
    <a
      href="/william"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Icon name="mdi:telescope" class="size-8" />
      <span>Sobre el Proyecto</span>
    </a>
  </div>
</ContentSection>
